name: Pull request check

on:
  pull_request:
    branches: [ master ]

jobs:
  build-and-test:
    name: Build and test
    runs-on: ubuntu-latest
    permissions:
      checks: write
      issues: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21

      - name: Execute Gradle build and run integration tests
        uses: gradle/actions/setup-gradle@v5

      - name: Build with Gradle
        run: ./gradlew build

      - name: Start services
        run: ./bin/setup

      - name: Gather logs
        if: always()
        run: |
          mkdir /tmp/streaming-fhir-logs
          for p in $(docker ps --format '{{.Names}}'); do
            docker logs ${p} > /tmp/streaming-fhir-logs/${p}.log 2>&1 || true # Ignore errors
          done

      - name: Upload logs as artifacts
        if: always()
        uses: actions/upload-artifact@v7
        with:
          name: logs
          path: /tmp/streaming-fhir-logs

      - name: Publish test results
        if: always()
        uses: EnricoMi/publish-unit-test-result-action@v2.7
        with:
          files: |
            **/build/test-results/test/*.xml
            **/build/test-results/intTest/*.xml
